<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
        .color {
  background-color: grey;
}

.col {
  padding: 5px;
}

.tier-0 {
  margin: 5px 10%;
}

.tier-1 {
  margin: 5px 15%;
}

.tier-2 {
  margin: 5px 20%;
}

.tier-3 {
  margin: 5px 25%;
}

.tier-4 {
  margin: 5px 30%;
}

.tier-5 {
  margin: 5px 35%;
}



    </style>
</head>
<body>

    <div class="row color tier-0">
        <div class="col">Tier 0</div>
        <%= allThrees[0].name %>
      </div>
      
      <div class="row color tier-1">
        <div class="col">Tier 1</div>
        <%= allThrees[1].name %>
      </div>
      
      <div class="row color tier-2">
        <div class="col">Tier 2</div>
        <%= allThrees[2].name %>
      </div>
      
      <div class="row color tier-3">
        <div class="col">Tier 3</div>
        <%= allThrees[3].name %>
      </div>
      
      <div class="row color tier-4">
        <div class="col"> <%= allThrees[4].name %> </div>
        
      </div>
      

  



    <a href="http://localhost:3000/ones"> Go Back</a>

    <h1>pyramid page</h1>


   
   
   
