<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Show</h1>

    <p>ID: <%= ThreesSeed._id %></p>
    <p>Name: <%= ThreesSeed.name %></p>
    <p>Date Number: <%= ThreesSeed.dateNumber %></p>
    <p>Whose Boy: <%= ThreesSeed.whoseBoy %></p>
    <p>How Would You Rate: <%= ThreesSeed.howWouldYouRate %></p>
    <p>What Spot On Pyramid?: <%= ThreesSeed.pyramid %></p>

</body>
</html>